<p style="color: green"><%= notice %></p>

<%= render @campground %>

<div>
  <%= link_to "Edit this campground", edit_campground_path(@campground) %> |
  <%= link_to "Back to campgrounds", campgrounds_path %>

  <%= button_to "Destroy this campground", @campground, method: :delete %>
</div>
